---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
<style type="text/css">
    product_box
    {
        float:right
    }
</style>
{% include JB/setup %}

<!--ul class="tag_box inline">
  {% assign categories_list = site.categories %}
  {% include JB/categories_list %}
</ul-->

<!--
{% for category in site.categories %}
  <h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
  <ul>
    {% assign pages_list = category[1] %}
    {% include JB/pages_list %}
  </ul>
{% endfor %}
        <li><div class="product_pic"> <div class="pos_right"><a href="show.asp?MaxID=5&amp;ID=141" title="Bridge"><img src="./img/00000141.jpg" border="1" width="188" height="100"></a> </div> <div class="product_title"><a href="show.asp?MaxID=5&amp;ID=141"> Bridge </a></div> </div></li>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
-->

    <div id="Methods3">
        <dl>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
            <dd>
                <div class='price'><span>&yen;</span>766.0</div>
                <div class='name'><a href='http://item.51buy.com/item-141328.html' ytag='70011' target='_blank' title='SHISEIDO 资生堂 丝蓓绮奢华光艳洗发露  550ml'> Bridge </a></div>
            </dd>
        </dl>
        <dl>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
            <dd>Bridge
            </dd>
            <dd>
                <ul class="price price-home-shellshocker" >
                    <li class="price-was " > $24.99 </li> <li class="price-map"  ></li>
                    <li class="price-current "  > <span class="price-current-label"></span> $<strong>15</strong><sup>.99</sup> <span class="price-current-range"> <abbr title="to">&ndash;</abbr> </span> </li>
                    <li class="price-save " > <span class="price-save-label">Save: </span> <span class="price-save-dollar"></span> <span class="price-save-percent">36%</span> </li>

            </dd>
        </dl>
        <dl>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
            <dd> <ul class="price price-home-shellshocker" >
                    <li class="price-was " > $24.99 </li>
                    <li class="price-map"  ></li>
                    <li class="price-current "  > <span class="price-current-label"></span> $<strong>15</strong><sup>.99</sup> <span class="price-current-range"> <abbr title="to">&ndash;</abbr> </span> </li>
                    <li class="price-save " > <span class="price-save-label">Save: </span> <span class="price-save-dollar"></span> <span class="price-save-percent">36%</span> </li>
                </ul>
            </dd>
        </dl>
        <dl>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
            <dd> Bridge </dd>
        </dl>
        <dl>
            <dt><img src="./img/00000141.jpg" width="188" height="100"></dt>
            <dd> Bridge </dd>
        </dl>
</div>
